/*--------------------------------------------------------------
# Font
--------------------------------------------------------------*/
@font-face {
	font-family: "Manrope";
	src: url("../fonts/Manrope-VariableFont_wght.woff");
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
    scroll-behavior: smooth;
}

body {
  font-family: "Manrope";
}

/* Margin */
.my-6 {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
}

.mb-6 {
  margin-bottom: 4rem !important;
}

.mb-7 {
  margin-bottom: 5rem !important;
}

.mt-6 {
  margin-top: 4rem !important;
}

.mt-7 {
  margin-top: 5rem !important;
}

.mt-10 {
  margin-top: 8rem !important;
}

/* Height */
.h-90 {
  height: 90%;
}

/* Link */
a {
    color: var(--color-links);
    text-decoration: none;
}

a:hover {
    color: var(--color-links-hover);
    text-decoration: none;
}

/* Header */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-default);
  font-weight: 900 !important;
  letter-spacing: 4px;
}

h1 {
  font-size:3rem !important;
}

/* Button */
.btn {
    line-height: 2rem;
    border-radius : 0;
    background-color: transparent;
    padding: 0.50rem 3rem;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    cursor: pointer;
    letter-spacing: 1.5px;
}

.btn-white {
  border-color: var(--color-white);
  color: var(--color-white);
}

.btn-white:hover {
  color: var(--color-black);
  box-shadow: inset 400px 0 0 0 var(--color-white);
}

.btn-primary-dark {
  border-color: var(--color-primary-dark);
  color: var(--color-primary-dark);
}

.btn-primary-dark:hover {
  color: var(--color-white);
  border-color: var(--color-primary-dark);
  box-shadow: inset 400px 0 0 0 #9B0412;
}

/* Section */ 
.section-header {
  color: var(--color-primary-dark);
  margin-top: 3rem ;
  margin-bottom: 3rem ;
}

.section-content {
  color : var(--color-default);
}

.pointer {
  cursor: pointer;
}

.grab {
  cursor: grab;
}

.parallax {
  /* Set a specific height */
  width: 100%;
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed !important;
  /* background-position: center center!important;
  background-repeat: no-repeat !important;
  background-size: cover !important; */
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes grow {
  0% {
    background: var(--color-white);
    width: 75%;
  }
  100% {
    width: 100%;
    background: var(--color-primary-dark);
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
  padding: 15px 8.33333333%;
  transition: all 2s;
  z-index: 997;
}

.header.sticked {
  background: var(--color-black);
  box-shadow: 0px 2px 20px rgba(var(--color-secondary-rgb), 0.1);
}

.header .logo img {
  max-height: 40px;
  margin-right: 6px;
  width: 75%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
.nav-lang-button {
  border: 0 !important;
  background-color: transparent;
  font-weight: 500;
  white-space: nowrap;
}

.navbar-lang-menu {
  padding-top : 14px;
  padding-left : 20px;
  padding-right: 20px;
}

/*--------------------------------------------------------------
# Sections Home
--------------------------------------------------------------*/
.swiper-slide {
  background-attachment: fixed !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  position: relative !important;
}

/* Home Slider */
.home{
  min-height: var(--height-home-section) !important;
  height: var(--height-home-section);
  margin-bottom: 3%;
}

.home-text {
  width: 100%;
  height: 100%;
  color: var(--color-white);
}

.swiper-container{
  width: 100%;
  overflow: hidden;
}

.home .swiper-pagination {
  margin : 0;
  right: 0;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  width: 8.33333333%;
}

.home .swiper-pagination-bullet {
  background: var(--color-white);
  width: 75%;
  opacity: 1;
  border-radius: 0;
  height: 3px;
  margin : 5px 0 0 0 !important;
}

.home .swiper-pagination-bullet-active {
  width: 100%;
  background: var(--color-primary-dark);
  animation: grow 1.3s ease-in-out;
}

/* Home Bridge */
.home-bridge {
  min-height: var(--height-home-brige-section) !important;
  height: var(--height-home-brige-section);
  margin-bottom: 3%;
}

.home-bridge-slider {
  height: var(--height-home-brige-section);
  overflow: hidden;
}

.home-bridge-item img {
  width: 100%;
  height: auto;
}

/* .home-bridge .swiper-pagination {
  bottom:-25px;
} */

.home-bridge .swiper-pagination-bullet {
  background: rgba(var(--color-primary-dark-rgb),0.9);
  width: 5%;
  height: 2px;
  border-radius: 0;
  margin : 0 !important;
}

.home-bridge .swiper-pagination-bullet-active {
  background: var(--color-primary-dark);
}

/* Home Product */
.home-product {
  margin-top: 7%;
  margin-bottom: 7%;
}

.home-product-img img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}

.home-product-title {
  text-transform: uppercase;
  text-align: center;
}

.home-product-subtitle {
  text-transform: uppercase;
  color: var(--color-secondary);
  text-align: center;
  font-size: smaller;
}

.home-caption {
  background-position: center center !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  position: relative;
  min-height: 60vh !important;
  height: 60vh;
  overflow: hidden !important;
  color:var(--color-white);
}

/* Home Caption */
.caption-title1 {
  text-align: right;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  font-weight: 575 !important;
}

.caption-title2 {
  text-align: left;
  margin-bottom: 2.5rem;
  font-weight: 575 !important;
}


.caption-title3 {
  text-align: center;
  margin-bottom: 2.5rem;
  font-weight: 575 !important;
}

.caption-writer {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 2rem;
  font-size: small;
}

/* Home Client */
.home-klien {
  margin-top: 5%;
  min-height: 75vh;
}

.home-img-wrapper {
  padding-bottom: 10rem;
}

/*--------------------------------------------------------------
# Sections Kebijakan
--------------------------------------------------------------*/
.kebijakan {
  margin-top: 7%;
  margin-bottom: 5%;
}

#kebijakan-logo {
  background-repeat: no-repeat !important;
  background-position: right bottom !important;
}

/*--------------------------------------------------------------
# Sections Tentang Kami
--------------------------------------------------------------*/
.about {
  margin-top: 14%;
}

.about-section-header {
  color: var(--color-primary-dark);
  letter-spacing: 1.5px;
  line-height: 1.5;
}

.square-wrapper {
  position:relative;
  width: 100%;
}

.square-content {
  color: var(--color-white);
  margin:auto;
  padding-top: 45%;
  padding-bottom: 45%;
  text-transform: uppercase !important;
}

.square-img-wrapper {
  position:relative;
  background-position: center center;
  background-size: cover;
  background-repeat:no-repeat;
}

.square-content-img {
  opacity: 0;
  margin:auto;
  padding-top: 45%;
  padding-bottom: 45%;
}

.up-5 {
  margin-top: -5%;
}

.up-8 {
  margin-top: -8%;
}

.misi-desc {
  font-size: smaller;
}

/*--------------------------------------------------------------
# Sections Klien
--------------------------------------------------------------*/
.klien-header {
  background-position: center center !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  min-height: 35vh !important;
  height: 35vh;
  overflow: hidden;
}

.klien-header-text {
  color: rgba(var(--color-primary-dark-rgb), 0.15);
  font-weight: 900 !important;
} 

/* #klien-header-text{
  transform: translateY(0px);
  transition: transform 0.2s linear;
} */

.klien-content {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

/*--------------------------------------------------------------
# Sections Kontak
--------------------------------------------------------------*/
.kontak {
  margin-top: 7%;
  margin-bottom: 5%;
}

.kontak-label {
  color: var(--color-primary-dark);
  font-weight: 900;
  font-size: small;
}

.kontak-input {
  border-top : 0;
  border-left : 0;
  border-right : 0;
  border-color: var(--color-secondary);
  border-radius: 0;
}

.kontak-input:focus {
  border-color: var(--color-primary-dark);
  outline: 0;
  box-shadow: 0 0 0 0.1rem rgba(var(--color-primary-dark-rgb), 0.2);
}

.email {
  display: inline-block;
  padding-bottom:1px;
  background-image: linear-gradient(var(--color-primary) 0 0);
  background-position: 0 100%; /*OR bottom left*/
  background-size: 0% 1px;
  background-repeat: no-repeat;
  transition:
    background-size 0.3s,
    background-position 0s 0.3s; /*change after the size immediately*/
}

.email:hover {
  background-position: 100% 100%; /*OR bottom right*/
  background-size: 100% 1px;
}

/*--------------------------------------------------------------
# Sections Product
--------------------------------------------------------------*/
.nav-tabs {
  border-bottom: 1px solid var(--color-primary-dark);
}

.nav-link {
  color: var(--color-default);
  font-size: small;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: var(--color-primary-dark);
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: transparent;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  border-color: transparent;
  color: var(--color-primary-dark);
}

.uppercase {
  text-transform: uppercase;
}

.tab-subtitle {
  color: var(--color-secondary);
  font-size: smaller;
}

.page-link {
  position: relative;
  display: block;
  color: var(--color-primary);
  text-decoration: none;
  background-color: transparent;
  border: transparent;
  font-weight: 900;
  border-radius:50% !important;
  margin: 1.5rem 1.5rem;
  padding: .3rem .75rem !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.page-link:hover {
  z-index: 2;
  color: white;
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  /* border-radius:50%; */
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.tab-pane.active {
  animation: fadeIn 1s ease-in-out;
}

/*--------------------------------------------------------------
# Service Section
--------------------------------------------------------------*/
.service-section {
  min-height: var(--height-home-section) !important;
  height: var(--height-home-section);
  background-attachment: fixed !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.service-section-header {
  color: var(--color-primary-dark);
  margin-top: 6rem;
  margin-bottom: 2.5rem;
}

.service-section-header-content {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.accordion-body {
  color: var(--color-default);
}

.accordion-button {
  color: var(--color-primary-dark);
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease;
}

.accordion-item {
  background-color: #fff;
  border: 1px solid rgba(var(--color-primary-dark-rgb), 0.5);
  border-left: none;
  border-right: none;
}

.accordion-button{
  color: var(--color-primary-dark) !important;
  font-weight: 900 !important;
  background-color: #fff;
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
}

.accordion-button:not(.collapsed) {
  color: var(--color-primary-dark);
  background-color: #fff;
  box-shadow: none;
}

.accordion-button:not(.collapsed)::after {
  content: '\f282' !important;
  font-family: 'Bootstrap-icons';
  background-image:none;
  transform: rotate(-180deg);
}

.accordion-button::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  content: '\f282' !important;
  font-family: 'Bootstrap-icons';
  background-image:none;
  transition: transform .2s ease-in-out;
}

.accordion-button:focus {
  z-index: 3;
  border-color: var(--color-primary-dark);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(var(--color-primary-dark-rgb), 0.25);
}

/*--------------------------------------------------------------
# Service Detail Section
--------------------------------------------------------------*/
p.service-number:first-letter {
  color: rgba(var(--color-primary-rgb), 0.15);
  font-size: 100px;
  font-weight: bolder;
  display: block;
  float: left;
  line-height: 0;
  /* margin: 15px 15px 10px 0; */
}

.service-img-container {
  overflow: hidden;
}

.service-number {
  color: rgba(var(--color-primary-rgb), 0.15);
  font-weight: bolder;
}

.service-title {
  color: var(--color-primary);
}

.service-desc {
  color: var(--color-secondary);
  font-size: smaller;
}

.service-img-fluid {
  max-width: 100%;
  height: fit-content;
  width: 100%;
}

.service-slider .swiper-button-prev,
.service-slider .swiper-button-next {
  border-radius: 50%;
  color: white;
  background-color: var(--color-primary);
  padding: 1.3rem;
  margin-left: 4rem;
  margin-right: 4rem;
}

.service-slider .swiper-button-prev:after{
  content: '\1F850' !important;
  font-size: 1.25rem;
}

.service-slider .swiper-button-next:after{
  content: '\1F852' !important;
  font-size: 1.25rem;
}

.service-subtitle-img {
  text-align: center;
  color:  var(--color-default);
}

.service-slider-section {
  margin: 0px;
  padding: 0px;
}

/* .service-slider.swiper-container .swiper-slide-active {
  animation: fadeIn 2s ease-in-out;
} */



/*--------------------------------------------------------------
# Sertifikat & Award Section
--------------------------------------------------------------*/
.sertif-header-section {
  background-position: center center !important;
  background-size: cover !important;
}

.sertif-award-section {
  /* min-height: 60vh !important;
  height: 60vh; */
  margin-top: 7%;
  margin-bottom: 10%;
}

/* .certificate-awards-slider {
  height: 60vh;
} */

.certificate-awards-slider .swiper-slide {
  height: 100% !important;
}

.certificate-awards-slider .swiper-scrollbar {
  background: rgba(var(--color-primary-rgb),.1);
  border-radius: 0px;
  right: 9%;
  left: unset;
  bottom: unset;
  height: 3px;
}

.certificate-awards-slider .swiper-scrollbar-drag {
  background: rgba(var(--color-primary-rgb));
  border-radius: 0px;
  height: 3px;
}

.slider-img {
  max-width:100%;
  max-height:90%;
}

.sertifikat-img-container {
  height: 15vw;
  overflow: hidden;
}

.sertifikat-img {
  height: 100%;
  background-position: center top !important;
}

.round-button {
  color: white;
  width: 40px;
  height: 40px;
  border: 0px;
  border-radius: 50%;
  background-color: var(--color-primary);
  
}

.round-button:after {
  font-weight: 900;
  /* content: '\2193' !important; */
  content: '\f128' !important;
  font-family: 'Bootstrap-icons';
  font-size: 1.3rem;
}

.swiper-container-sertif{
  width: 100%;
  overflow: hidden;
}

/*--------------------------------------------------------------
# Footer-top Section
--------------------------------------------------------------*/
.footer-top {
  background-attachment: fixed !important;
  background-position: center center !important;
  background-size: cover !important;
  position: relative;
  min-height: 60vh !important;
  height: 60vh;
  overflow: hidden !important;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
  background-color: var(--bs-dark);
  color: var(--bs-light);
  font-size: small;
  padding-top: 5%;
  padding-bottom: 3%;
  overflow: hidden;
  position: relative;
  margin-top:-1px;
}

a {
  color: var(--bs-light);
  text-decoration: none;
}
a:hover {
  color: var(--bs-light);
}

.design {
  display: flex!important;
  justify-content: flex-start!important;
}

.logo-footer {
  width: 75%;
}

.nav-footer a {
  display: inline-block;
  padding-bottom:1px;
  background-image: linear-gradient(var(--color-white) 0 0);
  background-position: 0 100%; /*OR bottom left*/
  background-size: 0% 1px;
  background-repeat: no-repeat;
  transition:
    background-size 0.3s,
    background-position 0s 0.3s; /*change after the size immediately*/
}

.nav-footer a:hover {
  background-position: 100% 100%; /*OR bottom right*/
  background-size: 100% 1px;
}

.u-footer {
  display: inline-block;
  padding-bottom:1px;
  background-image: linear-gradient(var(--color-white) 0 0);
  background-position: 0 100%; /*OR bottom left*/
  background-size: 0% 1px;
  background-repeat: no-repeat;
  transition:
    background-size 0.3s,
    background-position 0s 0.3s; /*change after the size immediately*/
}

.u-footer:hover {
  background-position: 100% 100%; /*OR bottom right*/
  background-size: 100% 1px;
}