/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
@media (min-width: 320px) and (max-width: 991px) {
  /* h1 {
      font-size:1.5rem;
  } */

  .desktop {
    display: none !important;
  }

  .text-center-mobile {
    text-align: center;
  }

  .font-xs {
    font-size: 0.75rem !important;
  }
  
  .font-sm {
    font-size: 1.75rem !important;
  }

  .font-md {
    font-size: 2.5rem !important;
  }

  .section-title-mobile {
    margin-top: 2.5rem;
  }

}

@media (min-width: 320px) and (max-width: 573px) {
  .col-xs {
    flex: 1 0 0%;
  }

  .col-xs-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-xs-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }

  .col-xs-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-xs-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-xs-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-xs-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }

  .col-xs-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-xs-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-xs-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-xs-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-xs-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }

  .col-xs-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }

  .col-xs-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}

/*--------------------------------------------------------------
# Mobile Navigation
--------------------------------------------------------------*/
@media (min-width: 320px) and (max-width: 991px) {
  .navbar {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    bottom: 0;
    transition: 0.3s;
    z-index: 9997;
  }

  .nav-lang-button,
  .delimeter {
    color: var(--color-white);
    font-size: 16px !important;
  }

  .nav-lang-button:hover,
  .nav-lang-button.active-lang {
    color: var(--color-white) !important;
    text-decoration: underline;
  }

  .navbar ul {
    position: absolute;
    inset: 0;
    padding: 10px 8.33333%;
    margin: 0;
    top: 10%;
    background: rgba(var(--color-default-rgb));
    overflow-y: auto;
    transition: 0.3s;
    z-index: 9998;
    list-style: none;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 500;
    color: rgba(var(--color-white-rgb));
    white-space: nowrap;
    transition: 0.3s;
  }

  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }

  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: var(--color-secondary);
  }

  .light,
  .sticked .dark {
    color: var(--color-white) !important;
  }

  .dark {
    color: var(--color-black) !important;
  }

  .mobile-nav-toggle {
    display: block !important;
    font-size: 1.4rem;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
    position: fixed;
    top: 20px;
    z-index: 9999;
    right: 8.33333%;
  }

  .mobile-nav-active .bi-grid-3x3-gap-fill {
    color: var(--color-white);
  }

  .mobile-nav-active {
    overflow: hidden;
    z-index: 9995;
    position: relative;
  }

  .mobile-nav-active .logo {
    z-index: 9999;
  }

  .mobile-nav-active .navbar {
    left: 0;
    background: var(--color-default);
  }
}

/*--------------------------------------------------------------
# Sections Home
--------------------------------------------------------------*/
@media (min-width: 320px) and (max-width: 991px) {
  /* Home Slider */
  .home{
    min-height: 75vh !important;
    height: 75vh;
  }

  .swiper-container{
    height: 75vh;
  }

  .layanan {
    margin-top: 3rem !important;
  }

  .btn-layanan {
    text-align: center;
  }

  .home-klien {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .klien-section-header {
    margin-bottom: 0 !important;
    margin-top: 0!important;
    height: auto !important;
  }

  .klien-header-text {
    margin-top:0 !important;
    margin-bottom: 3rem !important;
  }

  .layanan .row.mb-5 {
    margin-bottom : 1rem !important;
  }

}

/*--------------------------------------------------------------
# Sections Tentang Kami
--------------------------------------------------------------*/
@media (min-width: 320px) and (max-width: 991px) {
  /* .map-about {
    height: 50vh;
    overflow: hidden;
  }  */

  .img-misi {
    display: flex!important;
    align-items: end!important;
  }

  .penghargaan-img-wrapper {
     height: 25vh;
     overflow: hidden;
  }

  .about-certif {
    padding-top: 2rem !important;
  }

}

/*--------------------------------------------------------------
# Sections Klien
--------------------------------------------------------------*/
@media (min-width: 320px) and (max-width: 991px) {
  #klien-header-text{
      font-size: 2.5rem !important;
  }

  .klien-header-text-mobile {
    background-color: var(--color-white);
    /* transform: translateY(0px);
    transition: transform 0.2s linear; */
    position: fixed;
    top:10%;
    width: 100%;
  }

  .klien-content-header {
    color: var(--color-default);
    text-transform: uppercase !important;
    margin-top: 1rem;
    margin-bottom: 0;
    font-size: small;
  }
  
  .klien-content-footer {
    color: var(--color-secondary);
    font-size: x-small;
  }
}

/*--------------------------------------------------------------
# Sections Kontak
--------------------------------------------------------------*/
@media (min-width: 320px) and (max-width: 991px) {
  .kontak-header {
    text-align: center!important;
    margin-top: 5rem;
  }

  .kontak-img {
    position: relative;
    overflow: hidden !important;
  }

  .kotak-content {
    text-align: center;
  }

  .btn-submit-kotak {
    width: 100%;
  }
}

@media (min-width: 320px) and (max-width : 500px) {
  .btn-map {
    font-size: x-small;
  }
}

/*--------------------------------------------------------------
# Service Section
--------------------------------------------------------------*/
@media (min-width: 551px) and (max-width: 991px) {

  .service-img-container {
    height: 400px;
    margin-left: 3%;
    margin-right: 3%;
  }

  p.service-number:first-letter {
    font-size: 100px;
  }

  .service-title {
    color: var(--color-primary);
    font-size: calc(1.325rem + 0.9vw);
  }

  .service-slider.swiper-container {
    max-height: 80vh !important;
  }

  .service-subtitle-img {
    margin-top: 1.5rem;
  }

}

@media (min-width: 320px) and (max-width: 425px) {

  .service-slider .swiper-button-prev,
  .service-slider .swiper-button-next {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
  
}

@media (min-width: 320px) and (max-width: 550px) {
 
  .service-img-container {
    height: 250px;
    margin-left: 3%;
    margin-right: 3%;
  }

  p.service-number:first-letter {
    font-size: 80px;
  }

  .service-title {
    color: var(--color-primary);
    font-size: calc(1.25rem + 0.9vw);
  }

  .service-slider.swiper-container {
    max-height: 50vh !important;
  }

  .service-subtitle-img {
    margin-top: 0.5rem;
  }

}

/*--------------------------------------------------------------
# Sertifikat & Award Section
--------------------------------------------------------------*/
@media (min-width: 320px) and (max-width: 991px) {
  .certificate-awards-slider .swiper-scrollbar {
    width: 60%;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
@media (min-width: 320px) and (max-width: 991px) {
  .list-footer {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: 0.25rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .logo-footer {
    width: 50%;
  }
}