@font-face {
    font-family: "thousand-yard";
    src: url("../font/thousand-yard.woff") format("woff"),
    url("../font/thousand-yard.woff2") format("woff2");
}

@font-face {
    font-family: "abril-fat-face";
    src: url("../font/abril-fat-face.woff") format("woff"),
    url("../font/abril-fat-face.woff2") format("woff2");
}
*{
    color: white;
}
html{
    overflow-x: hidden;
}
html, body, footer, .background-black{
    margin: 0 !important;
    padding: 0 !important;
    background-color: #000 !important;
}
body {
    overflow: hidden;
    width: 100%;
}
.smooth-scroll-wrapper {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    overflow: hidden;
}

div{
    width: 100%;
}

.container-fluid{
    padding: 0 !important;
}

.row > *{
    padding: 0 !important;
}

.padding{
    padding: 0 10vw !important;
}

.index-1{
    z-index: 1;
}
.index-2{
    z-index: 2;
}
.index-3{
    z-index: 3;
}

.display-flex{
    display: flex;
}

.justify-center{
    justify-content: center;
    align-items: center;
}
.justify-space-between{
    justify-content: space-between;
}

.circle{
    border-radius: 50%;
    border: 1px solid #fff;
    width: 5rem;
    height: 5rem;
    padding: 2rem;
}

.center{
    text-align: center;
}

.margin-zero{
    margin: 0 !important;
}

.font-thousand{
    font-family: "thousand-yard";
}

.font-abril{
    font-family: "abril-fat-face";
}

.font-poppins{
    font-family: 'Poppins';
}